{% extends '::base.html.twig' %}
{% block title %}Indecopi{% endblock %}
{% block body %}

<header>
	<nav class="navbar navbar-expand-lg navbar-light navbar-bgColor fixed-top">
      <a class="navbar-brand text-white" href="#"><img src="../img/logo_indecopi_chiqui.png" width="120" height="38" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url('indecopi_principalUsuario')}}" style="color:white"><strong>Principal</strong> <span class="sr-only">(current)</span></a>      
                </li>      

                <li class="nav-item active">
                    <a class="nav-link" href="{{url('indecopi_homepage')}}" style="color:white"><strong>Cerrar Sesión</strong> <span class="sr-only">(current)</span></a>      
                </li>        
            </ul>
      </div>
    </nav>
</header>
<section>

<section class="proceso-inscripcion">
    <br><br><br>
    <div style="width:93%">
        <p class="text-right" style="color:grey" >Sesión iniciada: USUARIO</p>
    </div>
    <br>
<h4 style="color:grey" class="text-center"> PLATAFORMA INTEGRAL PARA LA PROTECCION DEL CONSUMIDOR DIGITAL</h4>


    <div class="container text-center" style="margin-top: 10px; margin-bottom: 30px;">

        <hr>
        
        <div id="alert-info" class="alert alert-warning alert-dismissible text-center" role="alert" style="margin-top: 10px; margin-bottom: 20px;">
        <button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
            <p> wyrweuyuryweb ueruweyr uweyruewyr uewryuwe rwuuyer ewur uewryuw eruew uweryu ewryewuyr weyruewyr ewu uewyruewr uyewryw er</p>
        </div>

        <div id="ficha-participante-container" class="container-card col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header text-center" role="tab">
                    <h3>Cantidad de personas que apoyan tu reclamo</h3>
                </div>
                <hr>
                <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="input-group col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <span class="input-group-addon" style="background:#0B3861; color:white">Buscar</span>
                                    <input class="filtrar form-control" type="text"  placeholder=" Ingresa los campos a buscar ">
                                </div>
                                <br>
                               <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        
                                <br>
                                <div class="panel panel-default" style="overflow-x:auto;">
                                    <table class="table"> 
                                        <thead style="background:#0B3861; color:white"> 
                                            <tr> 
                                                
                                                <th class="text-center">Código</th>
                                                <th class="text-center">Proveedor</th> 
                                                <th class="text-center">Descripción</th>
                                                <th class="text-center">Fecha transacción</th> 
                                                <th colspan="text-center">Colaboraciones</th>
                                                
                                                
                                            </tr>

                                        </thead> 

                                        <tbody class="buscar" id="seguimientoData" style="color:#494343"> 
                                                <tr>
                                                    <td>2124</td>
                                                    <td>QUIMICA SUIZA SAC</td>
                                                    <td>MALA ATENCIÓN</td>
                                                    <td>12/04/2017</td>
                                                    <td>32</td>
                                                    
                                                </tr>


                                            
                                                <tr>
                                                    <td>2122</td>
                                                    <td>ENVASADOS PEPITO  FRIKI SAC</td>
                                                    <td>PRODUCTO VENCIDO </td>
                                                    <td>12/04/2018</td>
                                                    <td>12</td>
                                                    
                                                </tr>   
                                                <tr>                                                    
                                                    <td>0023</td>
                                                    <td>MINIMARKET TODITO </td>
                                                    <td>COBRO ELEVADO</td>
                                                    <td>12/02/2018</td>
                                                    <td>40</td>
                                                     
                                                    
                                                </tr>   
                                                <tr>
                                                    <td>2122</td>
                                                    <td>OPEN LAB UNMSM</td>
                                                    <td>RONCAN MUY FUERTE </td>
                                                    <td>12/04/2017</td>
                                                    <td>12</td>
                                                   
                                                </tr>   
                                                    
                                        </tbody> 
                                    </table>
                                </div>

                            </div>
                        </div>
                        <br>
                        <hr>

                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon alert-success">Apoyo total</span>
                                    <p id="inscritos-horario" class="form-control">30</p>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>
        </div>

    </div>
</section>


</section>


<footer class="footer">
    <div class="container">
        <div class="row">
            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <br><br>
                <p style="font-size:12px;">SEDE CENTRAL LIMA SUR: Calle de la Prosa 104, San Borja. </p>
                <p style="font-size:12px;">SEDE LIMA NORTE: Av. Carlos Izaguirre 988, Urb. Las Palmeras, Los Olivos.<br>
                E-mail:  consultas@indecopi.gob.pe</p>
            
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <br><br>
                <img src="{{ asset('assets/images/logo.png') }}" class="img-responsive" style="margin-top:13px;" alt="" />
            
            </div>
        </div>
        <br>
        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright">&copy; 2018 Todos los derechos reservados</p>
    </div>
</footer>

{% endblock %}
{% block javascripts %}
{% endblock %}